<template>
 <section id="layout-content">                
    <div class="breadcrumb-wrapper" v-if="breadcrumb.length>0">
        <h5 class="breadcrumb-title">{{$route.meta.title}}</h5>
        <ol class="breadcrumb">
          <li v-for="(item,index) in breadcrumb">
            <router-link :exact=true :to="{ path: item.path}" v-if="item.path" >
              {{item.title}} 
            </router-link>          
            <span v-else>
              {{item.title}}
            </span>
          </li>
        </ol>
    </div>                 
    <div class="wrapper">            
      <router-view></router-view>                     
    </div>       
  </section>
</template>

<script>
  export default {
    computed: {
      breadcrumb() {
        let matched = this.$route.matched;
        return matched.map( (item,index) => {          
          if(!item.meta.hasOwnProperty("title")) {
            return false;
          }                    
          if(item.components.default.name != 'Mounter' && (index+1 != matched.length) ) {
            return {              
              title: item.meta.title,
              path: item.path
            }                  
          } else {
            return {
              title:item.meta.title
            }
          }                     
        }).filter(Boolean);        
      }
    }
  }
</script>