<template>
<header id="layout-header">
    <div class="header-fixed">
        <div class="header-wrapper">
            <div class="hi-logo" v-waves>
                <router-link :exact=true :to="{ path: '/'}">
                    后台管理网站
                </router-link>
            </div>
            <ul class="header-menu">
                <li v-waves @click="back">
                    <a href="javascript:;">
                        <i class="material-icons">replay</i>
                    </a>
                </li>
                <li v-waves @click="fullscreen">
                    <a href="javascript:;">
                        <i class="material-icons">settings_overscan</i>
                    </a>
                </li>
                <li v-waves>
                    <a href="javascript:;">
                        <i class="material-icons">settings</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
</template>

<script>
export default {
    name: "layout-header",
    methods: {
        back() {
          this.$router.back();
        },
        launchFullscreen(element) {
            if (element.requestFullscreen) {
                element.requestFullscreen();
            } else if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if (element.msRequestFullscreen) {
                element.msRequestFullscreen();
            } else if (element.webkitRequestFullscreen) {
                element.webkitRequestFullScreen();
            }
        },
        exitFullscreen() {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            }
        },
        fullscreen() { 
            let fullscreenElement = document.fullscreenElement ||
                document.mozFullScreenElement ||
                document.webkitFullscreenElement;
            if (fullscreenElement) {
                this.exitFullscreen();
            } else {
                let html = document.querySelector("html");
                this.launchFullscreen(html);
            }
        }
    },
}
</script>
