<template>
<div class="wrapper">
    <layout-header></layout-header>
    <layout-sidebar></layout-sidebar>
    <layout-content></layout-content>
</div>
</template>

<style lang="less" src="stylesheets/style.less"></style>

<script>
import Header from './header'
import Sidebar from './sidebar'
import Content from './content'

export default {
    components: {
        'layout-header': Header,
        'layout-sidebar': Sidebar,
        'layout-content': Content
    }
}
</script>
