<template>
  <aside id="layout-sidebar">
    <ul id="slide-menu">
      <sidebar-item :item="item" v-for="item in menu" :key="item.id"></sidebar-item>
    </ul>
  </aside>
</template>

<script>
import SidebarItem from './sidebar-item'
export default {
  components: {
    'sidebar-item': SidebarItem
  },
  computed: {
    menu() {
      return this.$store.state.menu
    }
  }
}
</script>
