<template>
  <li :class="{'selected': item.expanded}">
    <a href="javascript:void(0);" class="collapsible-header" v-if="item.children" @click="toggle(item)">
       <i class="material-icons">dashboard</i>
       {{item.meta.title||'未命名标题'}}
    </a>
    <router-link :exact=true :to="{ path: item.path}" v-else>
       <i class="material-icons">dashboard</i>
       {{item.meta.title||'未命名标题'}}
    </router-link>
    <div class="collapsible-body" v-if="item.children">
      <sidebar-item :item="item" v-for="item in item.children" :key="item.id"></sidebar-item>    
    </div>
  </li>
</template>

<script>
export default {
    name: "sidebar-item",
    props: {
        item: {}
    },
    methods: {
      toggle(item) {
        let expanded = !item.expanded;
        this.$set(item,"expanded",expanded);
      }
    }
}
</script>
