<template>
  <div class="tree"></div>
</template>

<style>
.inspire-tree [type=checkbox] {
    left: 20px;
    top: 7px;
}
</style>
<script>
import InspireTree from 'inspire-tree'
import InspireTreeDOM from 'inspire-tree-dom'
import 'inspire-tree-dom/dist/inspire-tree-light.css'

let tree;

export default {
    data: () => ({
        treeData: []
    }),  
    methods: {
        init() {
            let dataSet = this.treeData;
            tree = new InspireTree({
                data: dataSet,
                selection: {
                    mode: 'checkbox'
                }
            });            
            new InspireTreeDOM(tree, {
                target: '.tree'
            });
            window.Tree = tree;
        },
        expand() {
            //全展开
            tree.selectable().expand();             
        },
        collapse() {
            //全收拢
            tree.selectable().collapse();   
        },
        initExpand() {
            //一级展开
            tree.nodes().expand();              
        },              
        get() {             
            //available
            let list = tree.selectable();
            return list.filter(player=>{
                let state = player.itree.state;
                return (state.selected == true||state.indeterminate == true);
            }).map(player=>{
                return player.value
            })                              
        },
        set(map) {
            let list = tree.selectable();
            list.forEach(player=>{
                if(!player.hasOwnProperty("children")) {
                    if (map.indexOf(player.value) > -1) {
                        let state = player.itree.state;
                        if(!state.selected) {
                            player.select();                                
                        }
                    }
                }                   
            })
        }               
    },
    mounted() {
        //this.init();
    }
}
</script>
