<template>
  <div class="form-group horizon" :class="{'has-error': hasError}">
    <label class="form-label col-sm-4">{{item.title}}<span class="required" v-if="item.required">*</span></label>
    <div class="col-sm-8">
      <slot></slot>
      <div class="divider-area form-group-message">
        {{error}}
      </div>
    </div>
  </div>         
</template>

<script>
  export default {
    props: {
      item: {
        default: {}
      },
      name: {
        default:""
      },      
      error: {
        default:"" 
      }
    },   
    computed: {
      hasError() {
        return this.error ? true : false;
      }
    }
  }
</script>