<template>
  <form class="form-horizontal" @submit.prevent="submitHandle($event)" ref="form" @reset="resetHandle">  
    <slot></slot>   
  </form>
</template>

<script>
  import Register from 'model/form-register'
  import Errors from 'model/errors'
 
  export default {
    name: 'form',
    props: {
      options: {
        type: Object,
        default: () => ({})
      },
      register: {
        type: Object,
        default: () => (
          new Register()
        )
      }      
    }, 
    data: () => ({
      ready: false,
      errors: new Errors()
    }),    
    methods: {
      submitHandle(e) {
        this.ready = true;  
        let fields = this.register.getFields();
        fields.forEach(field => {    
          this.errors.valid(field)
        })          
        if(Object.keys(this.errors).length>0) {
          return false
        } else {
          this.$emit("submit")
        }
      },
      initialize() {
        this.register.setFields(this.$refs.form)        
      },
      resetHandle() {      
        this.ready = false;
        this.errors.clear();
        //还原所有初始化
        //Object.assign(this.$data, this.$options.data())  
      },
      blurEvent(event) {
        let name = event.target.name;
        if(!name || !this.register.has(name)) {
          return false;
        }
        this.errors.valid(event.target)        
      }
    },
    watch: {
      "ready": function(isReady) {
        let form = this.$refs.form;        
        if (isReady) {
          form.addEventListener("keyup",this.blurEvent, true)
        } else {
          form.removeEventListener("keyup",this.blurEvent, true)
        }
      },
      "errors": function(errors) {
        this.$emit("errors",errors)
      }
    },
    mounted() {    
        this.initialize();
    }    
  }
</script>