<template>
  <table class="table">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>54%</p>
        </td>
        <td>
          <p>Active icon</p>
        </td>
        <td>
          <p>Light</p>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
