<template>
  <button :type="type" :class="classname" v-waves.light>
    <slot></slot>
  </button>  
</template>
  
<script>
/*
<Button theme="primary" size="large">
=>
<button class="btn btn-block btn-primary"></button>
btn-lgååå
*/
import classNames from "classNames";

export default {
  props: {
    theme: {
      type: String,			
      default:"default"
    },
    size: {
      type: String,				
      default:"normal"
    },
    type: {
      type: String,				
      default:"button"
    }
  },  
  computed: {
    classname: function () {
      let style = this.theme;
      let size;
      let sourceMap = {
          normal: '',     
          flat: 'btn-flat',            
          large: 'btn-large'         
      };
      if (sourceMap.hasOwnProperty(this.size)) {
          size = sourceMap[this.size];
      } 
      return classNames("ui-button",style,size);     
    }
  }    
}
</script>