@vcolor:#00bcd4;
.flatpickr-month,.flatpickr-weekdays,span.flatpickr-weekday {
    background-color: @vcolor;
}
.flatpickr-day.endRange, .flatpickr-day.endRange.inRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, .flatpickr-day.selected.inRange, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.inRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover {
    background-color: @vcolor;
    border-color: @vcolor;      
}
.flatpickr-calendar.arrowTop:after {
    border-bottom-color: @vcolor;  
}
.flatpickr-calendar.arrowTop:before {
    border-bottom-color: @vcolor;
    opacity: 0.2;
}