<template>
     <input type="text" ref="input" readonly="readonly" class="form-input"/>
</template>

<script>
import Flatpickr from 'flatpickr'
import 'flatpickr/dist/themes/material_green.css';
import './dates.less';
import l10n from 'flatpickr/dist/l10n/zh.js';
const Zh = l10n.zh;

export default {
  data() {
    return {
      fp: null,
      value: null
    }
  },
  props: {
    range: {
      type: Array,
      default: function(){
        return []
      }
    }
  },
  methods: {
    open() {
      this.$el.classList.add("modal-in")
    },
    close() {
      this.$el.classList.remove("modal-in")
    }
  },
  watch: {
    "range": function(val) {
        this.$nextTick(() => {
              this.fp.redraw()
        })
    }
  },
  mounted() {
    let self = this;
    this.fp = new Flatpickr(this.$refs.input, {
      "locale": Zh,
      "minDate": new Date()
    })
  }
}
</script>
