<template>
  <input :type="inputType" class="form-input" :name="name" :value="value">
</template>
<script>
  export default {
    props: {
      name: "",
      value: "",
      inputType: {
        type: String,
        default: "text"
      }
    }
  }
</script>
