<template>
  <div class="row">
    <
  </div>
</template>
<script>
  export default {
    props: {
      name: "",
      value: "",
      inputType: {
        type: String,
        default: "text"
      }
    }
  }
</script>
