<template>
  <select type="text" class="form-select" :name="name">
    <option v-for="item in options" value="item.key" track-by="$index" :selected="_selected(item.key)">
      {{item.value}}
    </option>
  </select>
</template>
<script>
  export default {
    props: {
      name: "",
      value: "",
      options: {
        type: Array,
        default: []
      }
    },
    methods: {
      _selected (value) {
        return (value == this.value)
      },
      setOptions (arr) {
        this.options = arr;
      }
    }
  }
</script>
<!--
:options="item.options" -->
