<template>
   <div>
    <div class="divider"></div>
    <div class="section">
         <h4 class="header">普通按钮</h4>
         <button class="ui-button primary" v-waves>查询</button>
    </div>
    <div class="section">
        <h4 class="header">功能按钮</h4>
        <Button>提交</Button>
        <Button theme="warning">重置</Button> 
        <Button theme="danger">删除</Button>  
        <Button theme="accent">同步</Button>       
    </div>
    <div class="section">
        <h4 class="header">FLAT BUTTON</h4>
        <Button size="flat">提交</Button>
        <Button size="flat" theme="warning">重置</Button> 
        <Button size="flat" theme="danger">删除</Button>  
        <Button size="flat" theme="accent">同步</Button>       
    </div>

    <div class="section">
        <h4 class="header">LARGER BUTTON</h4>
        <Button size="large">提交</Button>
        <Button size="large" theme="warning">重置</Button> 
        <Button size="large" theme="danger">删除</Button>  
        <Button size="large" theme="accent">同步</Button>       
    </div>


    
   </div>
</template>
