<template>
  <Form @submit="handleSubmit" :register="register" @errors="errorsHandle">
      <div class="row">
        <div class="col-sm-6" v-for="(item,key) in register">
          <Form-group :item="item" :name="key" :error="errors.get(key)">
            <compontent
            :is="item.type"
            :name="key"
            :value="item.value"
             v-bind:options="item.options"
             v-bind:inputType="item.inputType"
             ></compontent>
          </Form-group>
        </div>
      </div>
      <div class="box-footer">
        <button class="ui-button" type="submit" v-waves.light>确认</button>
        <button class="ui-button warning" type="reset" v-waves.light>重置</button>
      </div>
  </Form>
</template>

<script>
import BaseForm from 'mixins/BaseForm.js';
import Register from 'model/form-register';
import Options from './config.json';

export default {
    mixins: [BaseForm],
    data: () => ({
      register: new Register(Options)
    }),
    methods: {
      handleSubmit() {
        Midway.alert('handleSubmit');
      }
    }
}
</script>
