<template>
<form>
  <div class="card-panel">
    <div class="form-group horizon">
      <label class="form-label two columns">用户账号</label>
      <div class="ten columns">
        <div>
          <input class="form-input">
        </div>
        <div class="divider form-group-message">
          该用户不存在
        </div>
      </div>
    </div>
    <div class="form-group horizon">
      <label class="form-label two columns">用户姓名</label>
      <div class="ten columns">
        <div>
          <input class="form-input">
        </div>
        <div class="divider form-group-message">
          该用户不存在
        </div>
      </div>
    </div>
    <div class="form-group horizon">
      <label class="form-label two columns">用户密码</label>
      <div class="ten columns">
        <div>
          <input class="form-input">
        </div>
        <div class="divider form-group-message">
          该用户不存在
        </div>
      </div>
    </div>
    <div class="form-group horizon">
      <label class="form-label two columns">用户角色</label>
      <div class="ten columns">
        <div>
          <input class="form-input">
        </div>
        <div class="divider form-group-message">
          该用户不存在
        </div>
      </div>
    </div>
    <div class="form-group horizon">
      <label class="form-label two columns">所属营业厅</label>
      <div class="ten columns">
        <div>
          <input class="form-input">
        </div>
        <div class="divider form-group-message">
          该用户不存在
        </div>
      </div>
    </div>
    <div class="form-group horizon">
      <label class="form-label two columns">所属营业厅</label>
      <div class="ten columns">
        <div>
          <input class="form-input">
        </div>
        <div class="divider form-group-message">
          该用户不存在
        </div>
      </div>
    </div>
    <div class="box-footer">
      <button class="ui-button" type="button" v-waves.light>确认</button>
      <button class="ui-button warning" type="reset" v-waves.light>重置</button>
      <button class="ui-button accent pull-right" type="button" v-waves.light>下一步</button>
    </div>
  </div>
</form>
</template>