<template>
   <div>
    <button class="ui-button primary" v-waves @click="handleAlert">Alert</button>
    <button class="ui-button primary" v-waves @click="handleConfirm">Confirm</button>
   </div>
</template>

<script>
  export default {
    methods: {
      handleConfirm() {
        Midway.confirm('confirm');
      },
      handleAlert() {
        Midway.alert('alert');
      }
    }
  }
</script>
