<template>
    <table class="table">
      <tbody>    
        <tr>
          <td>
            <p>54%</p>
          </td>
          <td>
            <p>Active icon</p>
          </td>
          <td>
            <p>Light</p>
          </td>
        </tr> 
        <tr>
          <td>
            <p>54%</p>
          </td>
          <td>
            <p>Active icon</p>
          </td>
          <td>
            <p>Light</p>
          </td>
        </tr> 
        <tr>
          <td>
            <p>54%</p>
          </td>
          <td>
            <p>Active icon</p>
          </td>
          <td>
            <p>Light</p>
          </td>
        </tr> 
        <tr>
          <td>
            <p>54%</p>
          </td>
          <td>
            <p>Active icon</p>
          </td>
          <td>
            <p>Light</p>
          </td>
        </tr>                                                                                                     
      </tbody>      
    </table>  
</template>