<template>
  <Tree ref="tree"/>
</template>

<script>
import Tree from 'layout/tree.vue';
import Options from './features.json';

export default {
    components: {
        Tree: Tree
    },
    mounted() {
        this.$refs.tree.treeData = Options;
        this.$nextTick(() => {             
            this.$refs.tree.init();
            this.$refs.tree.initExpand();
        });        
    }
}
</script>
