<template>
<div class="card-panel">
    <h4 class="header2">Form with placeholder</h4>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col">
                    <input class="form-field" placeholder="John Doe" id="name2" type="text">
                    <label for="first_name" class="active">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <input placeholder="john@domainname.com" id="email2" type="email">
                    <label for="email" class="active">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <input placeholder="YourPassword" id="password2" type="password">
                    <label for="password" class="active">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                    <label for="message" class="active">Message</label>
                </div>
                <div class="row">
                    <div class="input-field col">
                        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</template>

<style>
.input-field {
    position: relative;
    margin-top: 1rem;
}
.row .col {
    box-sizing: border-box;
    padding: 0 0.75rem;
}
</style>