.breadcrumb-wrapper {
  background-color: #eee;
  text-align: left;
  padding: 0 15px;
  user-select: none;
}

.breadcrumb {
  padding: 15px 0px;
  list-style: none;
  color: #999;
  >li {
    display: inline-block;
  }
  >li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
  }
}

.breadcrumb-title {
  font-size: 1.5rem;
  line-height: 1.804rem;
  padding: 15px 0px 0px 0px;
}