.ui-button {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 188, 212);
    border: none;
    outline: none;
    min-width: 88px;
    min-height: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
    &:hover {
        background-color: rgb(0, 184, 212);
    }
    &.primary {
        background-color: rgb(250, 250, 250);
        color: rgb(33, 33, 33);
        &:hover {
            background-color: rgb(250, 250, 250);
        }
    }
    &.warning {
        background-color: #F79638;
        &:hover {
            background-color: #f58111;
        }
    }
    &.danger {
        background-color: rgb(244, 67, 54);
        &:hover {
            background-color: rgb(229, 57, 53);
        }
    }
    &.accent {
        background-color: rgb(0, 150, 136);
        &:hover {
            background-color: rgb(0, 137, 123);
        }
    }
}

.btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    box-shadow: none;
}

.btn-large {
    height: 54px;
    line-height: 54px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
}