.card-panel {
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}

.card-panel {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);  
}

.card {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
}

.card .card-move-up {
    position: relative;
}

.card .card-move-up .move-up {
    border-radius: 2px 0 0 2px;
    background-clip: padding-box;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.card .card-move-up .card-title {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.card .card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

.card .card-title.activator {
    cursor: pointer;
}

.card.small,
.card.medium,
.card.large {
    position: relative;
}

.card.small .card-image,
.card.medium .card-image,
.card.large .card-image {
    overflow: hidden;
}

.card.small .card-move-up,
.card.medium .card-move-up,
.card.large .card-move-up {
    overflow: hidden;
}

.card.small .card-content,
.card.medium .card-content,
.card.large .card-content {
    overflow: hidden;
}

.card.small .card-action,
.card.medium .card-action,
.card.large .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card.small {
    height: 300px;
}

.card.small .card-image {
    height: 150px;
}

.card.small .card-content {
    height: 150px;
}

.card.small .card-move-up {
    height: auto;
}

.card.medium {
    height: 400px;
}

.card.medium .card-image {
    height: 250px;
}

.card.medium .card-content {
    height: 150px;
}

.card.medium .card-move-up {
    height: auto;
}

.card.large {
    height: 500px;
}

.card.large .card-image {
    height: 330px;
}

.card.large .card-content {
    height: 170px;
}

.card.large .card-move-up {
    height: auto;
}

.card .card-image {
    position: relative;
}

.card .card-image img {
    border-radius: 2px 0 0 2px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.card .card-image .card-title {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.card .card-content {
    padding: 20px;
    border-radius: 2px 2px 0 0;
}

.card .card-content p {
    margin: 0;
    color: inherit;
}

.card .card-content .card-title {
    line-height: 48px;
}

.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
}

.card .card-action a {
    color: #ffab40;
    margin-left: 20px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.card .card-action a:hover {
    color: #ffd8a6;
}

.card .card-reveal {
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.card .card-reveal .card-title {
    cursor: pointer;
    display: block;
}