  .form-input,
  .form-textarea {
    position: relative;
    margin-bottom: 25px;
    font-family: Lato, sans-serif;
    font-size: .875rem;
    font-weight: 300;
    color: #374853;
    line-height: 2.375rem;
    min-height: 2.375rem;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background: #fff;
    padding: 0 .8125rem;
    width: 100%;
    transition: border .1s ease;
    box-sizing: border-box;
    &:focus {
      border-color: #a8a8a8;
      outline: none;
    }
  }

.form-select {
    position: relative;
    margin-bottom: 25px;
    font-family: Lato, sans-serif;
    font-size: .875rem;
    font-weight: 300;
    color: #374853;
    line-height: 2.375rem;
    height: 2.375rem;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background: #fff;
    padding: 1px .8125rem;
    width: 100%;
    cursor: pointer;
    word-wrap: break-word;
    white-space: normal;
    outline: 0;  
    box-sizing: content-box;
    &:focus {
      border-color: #a8a8a8;
      outline: none;
    }  
}
  
.clearfix() {
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

  .form-group {
    .clearfix();
    margin-bottom: 25px;
    .form-input,
    .form-textarea, .form-select {
      margin-bottom: 0;
    }
  }
  
  .form-label {
    font-size: .8125rem;
    margin-bottom: .3125rem;
//    margin-left: .875rem;
    display: block;
    font-size: 16px;
    color: #777;
    letter-spacing: 2px;
  }
  
  .has-error .form-label {
    color: #f04124;
  }
  
  @keyframes shakeError {
    @shake-distance: 4px;
    0% {
      transform: translateX(0);
    }
    15% {
      transform: translateX(@shake-distance);
    }
    30% {
      transform: translateX(-@shake-distance);
    }
    45% {
      transform: translateX(@shake-distance);
    }
    60% {
      transform: translateX(-@shake-distance);
    }
    75% {
      transform: translateX(@shake-distance);
    }
    90% {
      transform: translateX(-@shake-distance);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .has-alert,
  .has-error {
    animation-name: shakeError;
    animation-fill-mode: forward;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
  }
  
  .has-error input,
  .has-error input:focus,
  .has-error input:hover,
  .has-error textarea {
    border-color: #f79483;
  }
  
  .form-group .form-group-message {
    font-size: .75rem;
    line-height: 1;
    padding-top: .5rem;
    padding-right: .5rem;
    color: #f57f6c;
    text-align: left;
    visibility: hidden;
  }
  .form-group.has-error .form-group-message {
    visibility: visible;
  }
  
  .form-group .divider-area {
    height: 25px;
    width: 100%;
  }
  
  .form-group.horizon {    
    margin-bottom: 0;
    .form-label {
      display: inline-block;
      padding-right: 1.25rem;
      padding-left: .5rem;
      padding-top: 10px;
    }
    .form-input,.form-textarea  {
      display: inline-block;
    }
  }

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #eee;
    padding: 10px;
    background-color: #fff;
    padding-top: 15px;
    .ui-button+.ui-button {
      margin-left: 10px;
    }
}