img {
    border: 0;
}
.img.responsive-img {
    max-width: 100%;
    height: auto;
}

.circle {
    border-radius: 50%;
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px #e0e0e0;
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

h4.header {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2.508rem;
    margin: 1.14rem 0 0.912rem 0;    
}