/*************************** Text Inputs+Textarea ****************************/
::-webkit-input-placeholder {
    color: #d1d1d1;
}

.input-field {
    input,textarea {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 3rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 15px 0;
        padding: 0;
        box-shadow: none;
        transition: all .3s;
    }
    input:disabled,
    input[readonly="readonly"],
    textarea:disabled,
    textarea[readonly="readonly"] {
        color: rgba(0, 0, 0, 0.26);
        border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
    }    
    input:disabled+label,
    input[readonly="readonly"]+label {
        color: rgba(0, 0, 0, 0.26);
    }    

    input:focus:not([readonly]),
    textarea:focus:not([readonly]) {
        border-bottom: 1px solid #ff4081;
        box-shadow: 0 1px 0 0 #ff4081;
    }
    
    input:focus:not([readonly])+label,
    textarea:focus:not([readonly])+label {
        color: #ff4081;
    }
    
    input.valid,
    input:focus.valid,
    textarea.valid,
    textarea:focus.valid    
    {
        border-bottom: 1px solid #4CAF50;
        box-shadow: 0 1px 0 0 #4CAF50;
    }
    
    input.valid+label:after,
    input:focus.valid+label:after
    textarea.valid+label:after,
    textarea:focus.valid+label:after {
        content: attr(data-success);
        color: #4CAF50;
        opacity: 1;
    }
    
    input.invalid,
    input:focus.invalid {
        border-bottom: 1px solid #F44336;
        box-shadow: 0 1px 0 0 #F44336;
    }    
    input.invalid+label:after,
    input:focus.invalid+label:after {
        content: attr(data-error);
        color: #F44336;
        opacity: 1;
    }
    
    input+label:after {
        display: block;
        content: "";
        position: absolute;
        top: 65px;
        opacity: 0;
        transition: .2s opacity ease-out, .2s color ease-out;
    }        
}

.input-field {
    position: relative;
    margin-top: 1rem;
}

.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0.75rem;
    font-size: 1rem;
    cursor: text;
    transition: 0.2s ease-out;
}

.input-field label.active {
    font-size: 0.8rem;
    transform: translateY(-140%);
}

.input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    transition: color 0.2s;
}

.input-field .prefix.active {
    color: #ff4081;
}

.input-field .prefix~input,
.input-field .prefix~textarea {
    margin-right: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.input-field .prefix~textarea {
    padding-top: .8rem;
}

.input-field .prefix~label {
    margin-right: 3rem;
}

@media only screen and (max-width: 992px) {
    .input-field .prefix~input {
        width: 86%;
        width: calc(100% - 3rem);
    }
}

@media only screen and (max-width: 600px) {
    .input-field .prefix~input {
        width: 80%;
        width: calc(100% - 3rem);
    }
}

.input-field input[type=search] {
    display: block;
    line-height: inherit;
    padding-right: 4rem;
    width: calc(100% - 4rem);
}

.input-field input[type=search]:focus {
    background-color: #FFF;
    border: 0;
    box-shadow: none;
    color: #444;
}

.input-field input[type=search]:focus+label i,
.input-field input[type=search]:focus~.mdi-navigation-close {
    color: #444;
}

.input-field input[type=search]+label {
    right: 1rem;
}

.input-field input[type=search]~.mdi-navigation-close {
    position: absolute;
    top: 0;
    left: 1rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color;
}

textarea {
    width: 100%;
    height: 3rem;
    background-color: transparent;
}

textarea.materialize-textarea {
    overflow-y: hidden;
    /* prevents scroll bar flash */
    padding: 1.6rem 0;
    /* prevents text jump on Enter keypress */
    resize: none;
    min-height: 3rem;
}

.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    /* future version of deprecated 'word-wrap' */
    padding-top: 1.2rem;
    /* prevents text jump on Enter keypress */
}