@headerHeight:56px;
@sidebarWidth: 240px;

#layout-header {
  user-select: none;
  position: relative;
  .header-fixed {
    position: relative;
    height: @headerHeight;
    z-index: 1998;
  }
  .header-wrapper {
    height: @headerHeight;
    line-height: @headerHeight;
    color: #fff;
    background-color: #00bcd4;   
    position: fixed;
    width: 100%;
  }
  a {
    color: #fff;
  }
}

#layout-sidebar {
  position: fixed;
  width: @sidebarWidth;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
  user-select: none;
  overflow-y: auto;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  padding-top: @headerHeight;
  #slide-out {
    padding-top: 10px;
  }
}

#layout-content {
  position: relative;
  padding-left: @sidebarWidth;
  >.wrapper {
    padding: 0 15px;  
    padding-top: 10px;  
    margin: 0 auto;
    position: relative;
  }
}

html ::selection {
  background: #00d1b2;
  color: #fff;
}


/* header */

.header-menu {
  float: right;
  line-height: 0;
}

.header-menu>li {
  float: left;
  >a {
    color: #fff;
    display: block;
    vertical-align: middle;
    padding: 0 15px;
    transition: all 0.3s ease-out;
    i {
      line-height: @headerHeight;
    }
  }
  &:hover,
  &.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.hi-logo {
  width: @sidebarWidth;
  float: left;
  padding: 0 15px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.12);
}

.hi-logo a {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
}


/* sidebar */

ul#slide-menu {
  padding-top: 5px;
  >li:after {
    content: "";
    display: block !important;
    background: rgba(0, 0, 0, .05);
    margin: 5px 15px;
    border-bottom: 0;
    overflow: hidden;
    height: 1px;
    padding: 0;
  }
  li {
    line-height: 44px;
  }
  a {
    display: block;
    color: #444;
    padding: 0 15px;
    transition: all 0.3s ease-out;
    >i {
      line-height: inherit;
      font-size: 18px;
      display: block;
      float: left;
      text-align: center;
      margin-right: 0.5rem;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
    &.active {
      background-color: rgba(0, 0, 0, 0.04);      
      color: #00bcd4;
    }
  }
}

#layout-sidebar {
  .collapsible-header:after {
    font-family: "Material Icons";
    content: "keyboard_arrow_right";
    float: right;
    color: #9e9e9e;
    font-size: 18px;
    transition: all;
    transition-duration: 250ms;
  }
  .collapsible-body {
    border: 0;
    background-color: #fff;
    transition: max-height 0.32s ease-in-out;
    max-height: 0;
    overflow-y: hidden;
    li {
      line-height: 40px;
      i {
        font-size: 16px;
      }
    }    
  }
  //2x
  .collapsible-body a {
    padding-left: 30px;
  }
  //3x
  .collapsible-body .collapsible-body a {
    padding-left: 45px;
  }
  //4x
  .collapsible-body .collapsible-body  .collapsible-body a {
    padding-left: 60px;
  }
  //5x
  .collapsible-body .collapsible-body  .collapsible-body .collapsible-body a {
    padding-left: 75px;
  }  
  //6x
  .collapsible-body .collapsible-body  .collapsible-body .collapsible-body .collapsible-body a {
    padding-left: 90px;
  }   
  ul li.selected {
    >.collapsible-header {
      &:after {
        transform: rotate(90deg);
      }
    }
    >.collapsible-body {
      transition: max-height 0.64s ease-in-out;
      max-height: 999px;
    }
  }
}