a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
 font-size: 14px;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    color: #00BCCC;
}

ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
}

strong {
  font-weight: 600;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.clearfix,.row {
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}
