  .table {
    background-color: #fff;
    font-size: 13px;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    tr td {
      border: 1px solid #EEE;
      line-height: 24px;
      padding: 12px 12px 12px 24px;
      color: #212121;
      vertical-align: middle;
    }
    tr:first-child {
      background-color: #FAFAFA;
      td {
        color: #757575;
      }
    }
    tr td {
      &:first-child {
        border-left: 1px solid #E5E5E5;
      }
      &:last-child {
        border-right: 1px solid #E5E5E5;
      }
    }
    tr:first-child td {
      border-top: 1px solid #E5E5E5;
    }
    tr:last-child td {
      border-bottom: 1px solid #E5E5E5;
    }
    p {
      line-height: 24px;
      margin: 0;
      max-width: 760px;
      word-wrap: break-word;
      font-size: 13px;
    }
  }